{% layout "server/layouts/base.liquid" %}

{% block content %}
<h1 class="h1">{{ item.name }}</h1>
<img src="{{ item.image.src }}" alt="{{ item.image.alt }}" width="{{ item.image.width }}" height="{{ item.image.height }}" />
{% endblock %}
