{% layout "server/layouts/base.liquid" %}

{% block content %}

<section class="first_hero">
  

  {% if games.size > 0 %}
    <h3 class="h3-headline">Today's featured game</h3>
    <h2 class="h2-headline" view-transition-name="featured-game">{{ highlight.name }}</h2>
    <div>
      <p>
      {% if highlight.release_date.coming_soon %}
        Game is Coming Soon | {{ highlight.release_date.date }}
      {% else %}
        Game was released on | {{ highlight.release_date.date }}
      {% endif %}
      </p>
    </div>
    <video src="{{ highlight.movies[0].mp4.max }}" autoplay muted loop controls="false" alt="First game thumbnail" class="video-no-controls"></video>
    <div>
      <button>
        <a href="/game/{{ highlight.steam_appid }}">View game info</a>
      </button>
    </div>
  {% endif %}
</section>

<section class="games-home">
  <h3 class="h3-headline">Unreleased Games</h3>
  <section>
    {% for game in games %}
    <section>
      <a href="/game/{{ game.steam_appid }}">
      <img src="{{ game.header_image }}" alt="">
      <article>
        <p>{{ game.name }}</p>
        {% if game.release_date.coming_soon %}
          <p>(Coming Soon) - {{ game.release_date.date }}</p>
          {% else %}
          <p>{{ game.release_date.date }}</p>
      {% endif %}
      </article>
      
      </a>
    </section>
  {% endfor %}
  </section>
</section>

{% endblock %}
