{% layout "server/layouts/base.liquid" %}

{% block content %}

<section class="first_hero">
  

  {% if games.size > 0 %}
    <h3 class="h3-headline">Featured game</h3>
    <h2 class="h2-headline" view-transition-name="featured-game">{{ highlight.name }}</h2>
    
    <img src="{{ highlight.screenshots[0].path_thumbnail }}" alt="First game thumbnail">
  {% endif %}
</section>

<section class="games-home">
    {% for game in games %}
    <section>
      <a href="/game/{{ game.steam_appid }}">
      <p>{{ game.name }} </p>
      <img src="{{ game.screenshots[0].path_thumbnail }}" alt="">
      </a>
    </section>
  {% endfor %}
</section>

{% endblock %}
